#population {
	color: white;
	margin-left: 20px;
	min-width: 120px;
}

#iteration {
	color: white;
	margin-left: 20px;
}

#canvas {
	margin-top: 10px;
	margin-left: 10px;
}

#buttons {
	margin-top: 10px;
	margin-left: 10px;
}