
body {
	margin: 0px;
	padding: 0px;
	background: #404552;
}

aside {
	display: block;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: auto;
	left: 0px;
	margin: 0px;
	padding: 16px;
	text-align: center;
	border-left: 1px solid #2a2c36;
	background: #333742;
	z-index: 2;
}

aside button {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 24px;
	color: #ffffff;
	background: #3e4351;
	border: 1px solid #2a2c36;
	border-radius: 4px;
	transition: all 250ms ease-out;
	vertical-align: middle;
	cursor: pointer;
}

aside button:hover,
aside button:focus {
	background: #677085;
	transition: all 250ms ease-out;
}

aside button:active {
	background: #4dadd4;
	transition: all 0ms ease-out;
}

aside button[disabled],
aside button[disabled]:hover
aside button[disabled]:focus,
aside button[disabled]:active {
	color: #677085;
	background: #3e4351;
}