body {
	background-color: rgba(50, 50, 50, 1);
}

span {
	color: white;
	margin-left: 20px;
	min-width: 120px;
	height: 40px;
	width: 10%;
}

#canvas {
	margin-top: 10px;
	margin-left: 10px;
	cursor: crosshair;
	position: relative;
}

#buttons {
	margin-top: 10px;
	margin-left: 10px;
}

button {
	margin: 5px;
	height: 40px;
	width: 10%;
    background-color: green;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    outline: 0;
}

button:disabled {
    opacity: 0.6;
    cursor: default;
}